
.GenreTable-container { 
    width: 100%;
    padding: 2rem;
    background-color: #2a2d49;
    
}
.tableform1 {
    background-color: rgb(42, 45, 73);
    color: white;
  }
  
  .tableform2 {
    width: 20%;
    background-color: rgb(30, 33, 57);
  }
  
  .tableform3 {
    width: 20%;
    background-color: rgb(30, 33, 57);
  }
  
  .tableform4 {
    width: 10%;
    background-color: rgb(30, 33, 57);
  }
  



